/* Import wallpapercolors */
@import url("/home/cesar/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0px;
    font-family: "Jetbrains Mono";

    /* adjust font-size value to your liking: */
    font-size: 14px;
}

window#waybar {
    background-color: @background;
    /* background-color: #000000; */
    color: #eeeeee;
    transition-duration: .5s;
}

#workspaces {
    /* background-color: rgba(26, 27, 38, 1); */
    padding: 0px 0px 0px 30px;
    border-radius: 10px;
    margin: 2px 3px 2px 8px;
}

#workspaces .active * {
    color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 0px 2px 0px 2px;
  }

#workspaces button {
    border-top: 0px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    color: #aaaaaa;
}

#workspaces button.empty {
    color: #2f2f2f;
  }

  #workspaces button:hover {
    /* Reset all hover styles */
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
  }

  #workspaces button.urgent {
    /*border-color: #2f343a; */
    color: #eeeeee; /* Sway palette: urgent/text */
    background-color: #900000; /* Sway palette: urgent/background */
  }

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-exit,
#mpd {
    padding: 0 5px;
    /* background-color:  rgba(26, 27, 38, 1); */
    /* margin: 5px 3px; */

}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#idle_inhibitor {
    font-size: 17px;

    padding: 0px 10px 0px 10px;
}


#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #eeeeee;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}


#custom-exit {
    transition: color 0.15s ease; /* transición suave de 0.5 segundos */
    border-radius: 55px;
    padding: 3px 9px 3px 6px;
    margin: 5px 5px 5px 3px;
}

#custom-exit:hover {
    background-color:  rgb(70, 71, 92);
    color:#db6c82;
}