/* Import wallpapercolors */
@import url("/home/cesar/.cache/wal/colors-waybar.css");

@define-color colorhover @color6;
@define-color coloractive @color6;
@define-color bordercolors @color2;


* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: @foreground;        /* Texto */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* Estilo de la barra */
window#waybar {
  background: rgba(10, 0, 0, 0);  /* Fondo semi-transparente */
  color: @foreground;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0px 0px 10px; /* N E S O */
}

window#waybar.hidden {
  opacity: 1;
}
  
  /* ================= RIGHT =================== */
  /* Each module */
  #backlight,
  #battery,
  #pulseaudio,
  #custom-exit,
  #workspaces,
  #logo-clock-idle,
  #tray {
    padding: 1px 10px 1px 10px;
    margin: 3px 4px 3px 2px;
    background: @background;
    border: 2px solid @bordercolors;
    border-radius: 20px;
  }
 
  /* If workspaces is the rightmost module, omit right margin */
  .modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
  }

  #battery.warning:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  #battery.critical:not(.charging) {
    background-color: #ff0000;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #network.disconnected { color: orange; }
    
  #pulseaudio.muted { color : rgb(255, 87, 87); }

  
  /* Center */
  #custom-archlogo {
    padding: 0px 7px 0px 2px;
    font-size: 15px;
    transition: text-shadow 0.3s ease;
    /* color: rgb(23, 147, 209);
    text-shadow: rgb(0, 255, 255) 0px -1px 8px; */
  }
  #custom-archlogo:hover {
    padding: 0px 7px 0px 2px;
    font-size: 15px;
    color: @colorhover;
    text-shadow: @colorhover 0px -1px 8px; 
  }
  
  #clock {
    font-family: "JetbrainsMono Nerd Font", monospace;
    font-size: 14px;
    padding: 2px 2px 0px 8px;
    margin: 2px 0px 2px 10px;
    /* background-color: rgba(91, 90, 90, 0.779); */
    /* background-color: @color8; */
    border-radius: 15px;
  }

  #idle_inhibitor {
    transition: color 0.3s ease, text-shadow 0.3s ease;
    font-size: 19px;
    padding: 1px 10px 1px 10px;
    background: @background;
  }

  #idle_inhibitor:hover {
    color: @colorhover;
    text-shadow: @colorhover 0px 0px 8px; 
  }

  #idle_inhibitor.activated {
    color: @colorhover;
  }

  #custom-exit {
      border-radius: 55px;
      padding: 2px 9px 2px 6px;
      margin: 5px 5px 5px 3px;
  }

  #custom-exit:hover {
      /* background-color:  rgb(70, 71, 92); */
      color:@colorhover;
  }

/* Workspaces */
  
  #workspaces {
    background-color:rgba(0,0,0,0.9);
    font-size: 15px;
    border-radius: 15px;
    padding: 1px 10px 1px 10px;
    margin: 3px 4px 3px 20px;
  }
    
  #workspaces .active * {
    color: @color6;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 0px 2px 0px 2px;
  }
  
  #workspaces button {
    border-top: 0px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    color: #bbbbbb;
  }
  
  #workspaces button:hover {
    /* Reset all hover styles */
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
  }
  
  #workspaces button.urgent {
    /*border-color: #2f343a; */
    color: #ffffff; /* Sway palette: urgent/text */
    background-color: #900000; /* Sway palette: urgent/background */
  }