# Ignore everything
/*
!.gitignore

# Except these folders
!alacritty
!lsd
!rofi
!fastfetch
!zsh
!btop
!hypr
!waybar
!waypaper

# Private Aliases are private
./zsh/private_aliases.zsh

# Dont follow hyprpaper.conf 
./hypr/hyprpaper.conf
